# checkpoints / models
*.pt
*.pth
experiments/**/best.pt

# data
cache_visium/
*.parquet
*.h5
*.h5ad
*.tif
*.tiff

# results / logs
results/
wandb/
*.log
slurm-*.out
slurm/
slurm_logs/
experiments/


# python
__pycache__/
*.pyc
.ipynb_checkpoints/
.env

*.pdf
*.png
*.csv
*.sh
*.json
*.npy
*.svg

cache_*/

